# Core
Django==5.0.4
djangorestframework==3.15.1
django-filter
drf-spectacular==0.27.1

# Database
psycopg2-binary==2.9.9

# Caching / Redis
django-redis>=5.4.0
redis==5.0.1

# WSGI Server
gunicorn==21.2.0

# AWS / Storage
boto3>=1.26,<1.27
django-storages==1.14.2

# Celery / Background tasks
celery==5.3.4

# Utils
python-dotenv==1.0.0
python-decouple
Pillow==10.1.0
