# Django core
Django==5.0.4

# REST framework
djangorestframework==3.15.1
django-filter

# Swagger / API schema
drf-spectacular[swagger-ui]==0.28.0

# JWT Authentication
djangorestframework-simplejwt==5.5.1

# Database
psycopg2-binary==2.9.9
dj-database-url>=2.2.0

# WSGI server
gunicorn==21.2.0

# AWS / Storage
boto3>=1.26,<1.27
django-storages==1.14.2

# Celery / Redis
celery==5.3.4
redis>=5.0.1
django-redis>=5.4.0

# Environment & utils
python-decouple
python-dotenv==1.0.0
Pillow==10.1.0

# PDF generation
reportlab==4.0.0

psycopg2-binary
